<header>
	<div class="profile">
		<p> About Me </p>
	</div>
</header>
<a href="#main" class="back-button">Back to Main</a>
<div class="profile-image"><img src="../public/images/profile.jpg" class="profile-image-img"></img></div>
<div class="intro" id="coding-intro">
	<p><a href="#code/{{ visitorName || 'Visitor' }}" ng-click="switch()" >CODING</a></p>
</div>
<div class="code-background">
</div>
<div class="intro" id="painting-intro">
	<p><a href="#paintings/{{ visitorName || 'Visitor' }}" ng-click="switch()" >PAINTING</a></p>
</div>
<div class="painting-background">
</div>
<div class="content" id="content">
	<div  id="inner-content">
		<p>
			Hi {{ visitorName }},
		</p>
		<p>
			Thanks for visiting this site and get to know me. 
		<p>
			My name is Yifan Cao: 
		</p>
		<p>
			- a software developer by day; 
		</p>
		<p>
			- an amateur painter / doodler by night; 
		</p>
		<p> 
			- and an old-school video gamer all the time.
		</p>
		 Currently I'm enjoying mixing my second-rate software development skill with my third-rate sense of art, which is front-end development! 
		</p>
		<p>
			If you are still interested, most of my paintings are to your left, and some of my code are to your right. Have fun!
		</p>
		<p>
			Yifan Cao
		</p>
	</div>
	<div class="content-indicator" id="content-indicator"></div>
</div>
<div class="fade-animate-wrapper">
	<div class="fade-animate fade-one" ></div>
	<div class="fade-animate fade-two" ></div>
	<div class="fade-animate fade-three" ></div>
	<div class="fade-animate fade-four" ></div>
</div>
<div class="background-strip-green">
</div>
<div class="background-strip-purple">
</div>
