::-webkit-scrollbar { 
    display: none; 
}

a {
	color: #fff;
	text-decoration: none;
}

html, body {
	height: 100%;
	color: #fff;
	font-family: 'Poiret One', cursive;
	overflow: hidden;
}

footer {
	position: fixed;
	bottom: 5px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

.page {
	top: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.mainPage {
    background: -webkit-radial-gradient(circle, rgba(157,188,201,1), rgba(51, 101, 122, 1), rgba(4,28,38,1)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, rgba(157,188,201,1), rgba(51, 101, 122, 1), rgba(4,28,38,1)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(157,188,201,1), rgba(51, 101, 122, 1), rgba(4,28,38,1)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(157,188,201,1), rgba(51, 101, 122, 1), rgba(4,28,38,1)); /* Standard syntax (must be last) */
    z-index: 2;
}

.profilePage {
	background-color: rgba(215, 110, 66, 1);
	z-index: 1;
}

.paintingPage {
	background-color: rgba(87, 218, 161, 1);
	z-index: 1;
}

.codePage {
	background-color: rgba(133, 89, 198, 1);
	z-index: 1;
}

.back-button {
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 10;
}
