.paintings-container {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 0;
	max-width: 80%;
	height: 100%;
	background-color: rgba(100, 181, 142, 0.6);
}

.paintings-container ul {
    padding: 0;
    margin: 0 auto;
    min-height: 500px;
    list-style: none;
}

.painting-frame {
	position: absolute;
	margin: 8px;
	padding: 8px;
	display: inline-block;
	width: 305px;
	text-align: left;
	vertical-align: top;
	overflow: hidden;
	cursor: pointer;
	background-color: rgba(80, 150, 140, 0.9);
	box-shadow: 0 0 80px 20px rgba(0, 0, 0, 0);
	-webkit-transition: box-shadow .3s, z-index .3s, -webkit-transform .3s;
	transition: box-shadow .3s, z-index .3s, transform .3s;
}

.painting-frame:hover {
	box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.9);
	z-index: 9999;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.painting-wrapper {
	width: 100%;
}

/*
.painting-frame:hover .painting-wrapper > img{
	-webkit-transform: scale(2.0);
	transform: scale(2.0);
}
*/

.painting-frame .painting-wrapper::before {
	z-index: 999;
	position: absolute;
	content:'';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0 solid rgba(64, 181, 142, 0.9);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.painting-frame:hover .painting-wrapper::before {
	box-shadow: inset 0 0 80px 20px rgba(0, 0, 0, 0.7);
	border: 1vh solid rgba(64, 181, 142, 1);
	left: -0.5vh;
	top: -0.5vh;
	width: calc(100% - 1vh);
	height: calc(100% - 1vh);
}

.painting-wrapper > img {
	position: relative;
	visibility: hidden;
	width: 100%;
	display: block;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
}

.curtain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.curtain::after {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0,0,0,1);
}

.painting-wrapper.animate > .curtain {
	-webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
	animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

.painting-wrapper.animate > .curtain::after {
	-webkit-animation: fadeOut 1.5s ease forwards;
	animation: fadeOut 1.5s ease forwards;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
}

.painting-wrapper.animate > img {
	-webkit-animation: showMe 1.5s step-end forwards;
	animation: showMe 1.5s step-end forwards;
}
